@page
@model _210081D_Wong_Yee_Jin.Pages.errors._403Model
@{
    ViewData["title"] = "Page does not exist";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
    <p style="font-size: 50px; ">We couldn't find this page.</p>
    <p>Server refused to execute request, although it is in correct format.</p>
    <p>Please navigate back to <a asp-page="/Index">Index</a></p>
</div>